<% if @movie.reviews.size > 0 %>
  <h1>Reviews for <%= @movie.title %> </h1>
  <ul class="reviews">
    <% @movie.reviews.each do |review| %>
      <li>
        <%= render "shared/stars", percent: review.stars_as_percent %>
        <p>
          <%= link_to review.user.name, review.user %>
          <span class="date">
          <%= time_ago_in_words(review.created_at) %> ago
        </span>
        </p>
        <p>
          <%= review.comment %>
        </p>
        <%= link_to "Edit review", edit_movie_review_path(@movie, review), class: "button" %>
        <%= link_to "Delete review", movie_review_path(@movie, review), method: :delete, class: "button" %>
      </li>

    <% end %>
  </ul>
<% end %>
